<div class="opponent-hand">
  <%= render "opponent_hand", game_state: @game_state, current_player: @current_player %>
</div>

<div class="row">
  <div class="game-information">
    <%= render "game_information", game_state: @game_state, game: @game, current_player: @current_player %>
  </div>

  <div class="table">
    <%= render "table", game_state: @game_state %>
  </div>
</div>

<% if flash.alert %>
  <div class="alert"><%= flash.alert %></div>
<% end %>

<div class="current-player-hand">
  <%= render "current_player_hand", game_state: @game_state, current_player: @current_player %>
</div>

<div class="controls">
  <%= render "attack_defend_controls", game_state: @game_state %>

  <%= render "discard_pickup_controls", game_state: @game_state, current_player: @current_player %>
</div>
