<div class="content">
  <div>
    <h1>Durak / Game <%= @game.id %></h1>

    <% if flash.alert %>
      <div class="alert"><%= flash.alert %></div>
    <% end %>

    <% unless @game_state.over? %>
      <div class="game-information">
        <p><strong>Trump Card:</strong></p>
        <%= render "card",  rank: @game_state.trump_card.rank, suit: @game_state.trump_card.suit %>

        <% if @game_state.attacker %>
          <p><strong>Current Attacker:</strong> Player <%= @game_state.attacker.id %></p>
        <% end %>

        <% if @game_state.current_player %>
          <p><strong>Current Player:</strong> Player <%= @game_state.current_player.id %></p>
        <% end %>

        <p><strong>Cards left in deck:</strong> <%= @game_state.deck.count %></p>
        <p><strong>Cards in Discard Pile:</strong> <%= @game_state.discard_pile.count %></p>
      </div>

      <div class="table">
        <p><strong>Table:</strong></p>
        <% @game_state.table.arranged.each do |attack_defend_pair| %>
          <% attacking_card, defending_card = attack_defend_pair[:attacking_card], attack_defend_pair[:defending_card] %>
          <div class="attack-defend-pair">
            <%= render "card", rank: attacking_card.rank, suit: attacking_card.suit %>

            <% if defending_card != nil %>
              <%= render "card", rank: defending_card.rank, suit: defending_card.suit %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% @game_state.player_states.each do |player_state| %>
        <% if @game_state.current_player == player_state.player %>
          <p><strong>Your Hand (<%= player_state.hand.count %> cards)</strong></p>
          <div class="player-hand">
            <% player_state.hand.cards.each do |card| %>
              <span data-card-id="<%= card.id %>">
                <%= render "card", rank: card.rank, suit: card.suit %>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="controls">
        <%= form_for [@game, @game_state.current_player, @game_state.current_player.steps.new] do |f| %>
          <% if @game_state.current_player == @game_state.attacker %>
            <%= f.hidden_field :kind, value: :attack %>
          <% else %>
            <%= f.hidden_field :kind, value: :defend %>
            <%= f.hidden_field :in_response_to_step_id, :value => @game.steps.last.id %>
          <% end %>

          <% player_hand = @game_state.player_state_for_player(@game_state.current_player).hand %>
          <% if !player_hand.empty? %>
            <%= f.hidden_field :card_id, class: 'card-select' %>
          <% end %>
        <% end %>

        <% unless @game_state.table.empty? %>
          <div class="player-actions">
            <%= form_for [@game, @game_state.current_player, @game_state.current_player.steps.new] do |f| %>
              <% if @game_state.current_player == @game_state.attacker %>
                <% step_kind = :discard %>
                <% submit_text = "Discard" %>
              <% else %>
                <% step_kind = :pick_up_from_table %>
                <% submit_text = "Pickup" %>
              <% end %>

              <%= f.hidden_field :kind, :value => step_kind %>
              <%= f.submit submit_text, data: { disable_with: 'Don\'t think about pushing me again.' }, :class => 'button' %>
            </div>
          <% end %>
        <% end %>
      </div>

    <% else %>
      <h2>Result:</h2>
      <% if @game_state.tie? %>
        <p>It's a tie!</p>
      <% else %>
        <b>Winner:</b>
        Player <%= @game_state.winner.id %>
        <br>
        <b>Durak:</b>
        Player <%= @game_state.durak.id %>
      <% end %>

      <div>
        <%= form_for Game.new do |f| %>
          <%= f.submit "New Game", :class => 'button' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
