<div class="content">
  <div>
    <h1>Durak / Game <%= @game.id %></h1>
    <% unless @game_state.over? %>
      <div class="game-information">
        <p><strong>Trump Card:</strong> <%= @game_state.trump_card.rank %> of <%= @game_state.trump_card.suit %></p>
        <% if @game_state.attacker %>
          <p><strong>Current Attacker:</strong> Player <%= @game_state.attacker.id %></p>
        <% end %>

        <% if @game_state.current_player %>
          <p><strong>Current Player:</strong> Player <%= @game_state.current_player.id %></p>
        <% end %>

        <p><strong>Cards left in deck:</strong> <%= @game_state.deck.count %></p>
      </div>

      <div class="table">
        <% @game_state.table.arranged.each do |attack_defend_pair| %>
          <% attacking_card, defending_card = attack_defend_pair[:attacking_card], attack_defend_pair[:defending_card] %>
          <div class="attack-defend-pair">
            <%= render "card", rank: attacking_card.rank, suit: attacking_card.suit %>

            <% if defending_card != nil %>
              <%= render "card", rank: defending_card.rank, suit: defending_card.suit %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% @game_state.player_states.each do |player_state| %>
        <% if @game_state.current_player == player_state.player %>
          <div class="player-hand">
            <% player_state.hand.cards.each do |card| %>
              <%= render "card",  rank: card.rank, suit: card.suit %>
            <% end %>
            <h2>Your Hand (<%= player_state.hand.count %> cards)</h2>
          </div>
        <% end %>
      <% end %>

      <% unless @game_state.discard_pile.empty? %>
        <div class="discard-pile">
          <% @game_state.discard_pile.cards.each do |card| %>
            <%= render "card",  rank: card.rank, suit: card.suit %>
          <% end %>
        </div>
      <% end %>

      <div class="controls">
        <%= form_for [@game, @game_state.current_player, @game_state.current_player.steps.new] do |f| %>
          <% if @game_state.current_player == @game_state.attacker %>
            <%= f.hidden_field :kind, :value => :attack %>
          <% else %>
            <%= f.hidden_field :kind, :value => :defend %>
            <%= f.hidden_field :in_response_to_step_id, :value => @game.steps.last.id %>
          <% end %>

          <% player_hand = @game_state.player_state_for_player(@game_state.current_player).hand %>
          <% if !player_hand.empty? %>
            <%= f.select :card_id, player_hand.cards.map { |card| ["#{card.rank} of #{card.suit}", card.id] } %>

            <% if @game_state.current_player == @game_state.attacker %>
              <%= f.submit "Attack", data: { disable_with: 'Don\'t think about pushing me again.' } %>
            <% else %>
              <%= f.submit "Defend", data: { disable_with: 'Don\'t think about pushing me again.' } %>
            <% end %>
          <% end %>
        <% end %>

        <% unless @game_state.table.empty? %>
          <%= form_for [@game, @game_state.current_player, @game_state.current_player.steps.new] do |f| %>
            <% if @game_state.current_player == @game_state.attacker %>
              <% step_kind = :discard %>
              <% submit_text = "Discard" %>
            <% else %>
              <% step_kind = :pick_up_from_table %>
              <% submit_text = "Pickup" %>
            <% end %>

            <%= f.hidden_field :kind, :value => step_kind %>
            <%= f.submit submit_text, data: { disable_with: 'Don\'t think about pushing me again.' } %>
          <% end %>
        <% end %>
      </div>

      <div>
        <h2>Player <%= @game_state.current_player.id %></h2>
      </div>

    <% else %>
      <h2>Result:</h2>
      <% if @game_state.draw? %>
        <p>It's a draw!</p>
      <% else %>
        <b>Winner:</b>
        Player <%= @game_state.winner.id %>
        <br>
        <b>Durak:</b>
        Player <%= @game_state.durak.id %>
      <% end %>
    <% end %>
  </div>
</div>
