<!DOCTYPE html>
<html>
  <head>
    <title>Durak</title>
    <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
